/* dateRangePicker */
.daterangepicker {
    background: #fff;
    border: 1px #ddd solid;
    border-radius: 4px;
    display: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.52857143;
    color: #515253;
    position: absolute;
    width: 625px;
    padding: 0;
    top: 34px;
    left: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.2);
}
.daterangepicker.single{ width: 322px;}
.daterangepicker:before, .daterangepicker:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.daterangepicker:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc;
}
.daterangepicker:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #3598db;
    border-left: 6px solid transparent;
}
.daterangepicker.single:after{ border-bottom: 6px solid #fff;}
.daterangepicker.opensleft:before { right: 19px;}
.daterangepicker.opensleft:after { right: 20px;}
.daterangepicker.openscenter:before,
.daterangepicker.openscenter:after{
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}
.daterangepicker.opensright:before { left: 9px;}
.daterangepicker.opensright:after { left: 10px;}
.daterangepicker.dropup { margin-top: -5px;}
.daterangepicker.dropup:before {
    top: initial;
    bottom: -7px;
    border-bottom: initial;
    border-top: 7px solid #ccc;
}
.daterangepicker.dropup:after {
    top: initial;
    bottom: -6px;
    border-bottom: initial;
    border-top: 6px solid #fff;
}
.daterangepicker.dropdown-menu { max-width: none; z-index: 3001;}
.daterangepicker.single .ranges, .daterangepicker.single .calendar { float: none;}
.daterangepicker.show-calendar .calendar { display: block;}
.daterangepicker .calendar { display: none; width: 300px;}
.daterangepicker.ltr .calendar{ float: left;}
.daterangepicker.ltr { direction: ltr; text-align: left;}
.daterangepicker.ltr .calendar.left { clear: left; margin-right: 0;}
.daterangepicker.ltr .calendar.left .calendar-table { border-right: none; border-top-right-radius: 0; border-bottom-right-radius: 0;}
.daterangepicker.ltr .calendar.right .calendar-table { border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.daterangepicker.ltr .calendar.left .table-condensed tbody tr:last-child td:first-child{ border-bottom-left-radius: 6px;}
.daterangepicker.ltr .calendar.right .table-condensed tbody tr:last-child td:last-child{ border-bottom-right-radius: 6px;}
.daterangepicker .calendar.single .calendar-table { border: none;}
.daterangepicker .calendar th, .daterangepicker .calendar td { white-space: nowrap; text-align: center; min-width: 32px;}
.daterangepicker .calendar-table { border: 1px solid #d7dbe4; border-radius: 6px; background: #fff;}
.daterangepicker table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
}
.daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border: none;
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
    font-weight: normal;
}
.daterangepicker tr:first-child th{ background-color: #eaedf4;}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover { background-color: #d6eeff; border-color: transparent; color: inherit;}
.daterangepicker td.week, .daterangepicker th.week { font-size: 12px; color: #ccc;}
.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date { background-color: #fff; border-color: transparent; color: #999;}
.daterangepicker td.in-range {
    background-color: #c3e7ff;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}
.daterangepicker td.start-date { border-radius: 15px 0 0 15px;}
.daterangepicker td.end-date { border-radius: 0 15px 15px 0;}
.daterangepicker td.start-date.end-date { border-radius: 15px;}
.daterangepicker td.active,
.daterangepicker td.active:hover { background-color: #3598db; border-color: transparent; color: #fff;}
.daterangepicker th.month { width: auto;}
.daterangepicker td.disabled, .daterangepicker option.disabled { color: #ccc; cursor: not-allowed; text-decoration: line-through;}
.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
}
.daterangepicker td.today{ background-image: url(../../images/point.png); background-repeat: no-repeat; background-position: 78% 12%;}
.daterangepicker td.today.off{ background: none;}
.daterangepicker select.monthselect { margin-right: 2%; width: 56%;}
.daterangepicker select.yearselect { width: 40%;}
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect { width: 50px; margin-bottom: 0;}
.daterangepicker_input{ display: inline-block;}
.daterangepicker_input.ipt-start{ width: 100px;}
.daterangepicker .input-mini, .range-line{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.daterangepicker .input-mini {
    background-color: transparent;
    border: 0;
    font-size: 12px;
    margin: 0;
    width: 66px;
}
.input-mini.long-mini{ width: 116px;}
.input-start{ padding-left: 25px!important;}
.range-line{
    text-align: center;
    width: 16px;
    margin: 0 4px 0 2px;
    position: relative;
    float: left;
}
.daterangepicker .daterangepicker_input { position: relative; float: left;}
.daterangepicker .daterangepicker_input i {
    color: #555;
    position: absolute;
    left: 6px;
    top: 7px;
}
.daterangepicker.rtl .input-mini { padding-right: 28px; padding-left: 6px;}
.daterangepicker.rtl .daterangepicker_input i { left: auto; right: 8px;}
.daterangepicker .calendar-time {
    margin: 8px 0 0 15px;
    padding: 5px 0;
    position: relative;
    font-size: 12px;
}
.daterangepicker.single .calendar-time{ margin: 6px 0 0 10px;}
.daterangepicker .calendar-time div{ display: inline-block; vertical-align: middle;}
.daterangepicker .calendar-time select.disabled { color: #ccc; cursor: not-allowed;}
.ranges {
    background-color: #3598db;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    text-align: left;
}
.ranges ul {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 5px;
    padding: 0;
    width: auto;
}
.ranges li {
    display: inline-block;
    padding: 3px 5px;
    margin: 0 3px;
    cursor: pointer;
}
.ranges li:hover, .ranges li.active { color: #fcff00;}
.range_inputs{
    background-color: #fafafa;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    text-align: right;
}
.calendar-wrap{ padding: 10px;}
.daterangepicker_input-wrap{
    background-color: #fff;
    border: 1px solid #3598db;
    border-radius: 4px;
    color: #666f7b;
    display: inline-block;
    padding: 0 5px;
    height: 32px;
    vertical-align: middle;
}
.chevron-left, .chevron-right{
    border-width: 6px;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    vertical-align: middle;
}
.chevron-left{ border-color: transparent #666f7b transparent transparent; border-style: dashed solid dashed dashed;}
.chevron-right{ border-color: transparent transparent transparent #666f7b; border-style: dashed dashed dashed solid;}
.range_inputs .btn{
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
.apply-btn{ background-color: #5cb85c; border-color: #4cae4c; color: #fff;}
.apply-btn:hover{ color: #fff;}
.range_inputs .btn:hover{ filter: alpha(opacity=80); opacity: .8;}
.range_inputs .btn.disabled{
    background-color: #5cb85c;
    border-color: #4cae4c;
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
/*  smaller Screen Styling */
@media (max-width: 1000px) {
    .daterangepicker { width: 322px;}
    .ranges ul { width: 100%; margin-left: 0;}
    .ranges li{ padding: 3px 0; margin: 2px 5px 0 0;}
    .daterangepicker.single .calendar.left { clear: none;}
    .daterangepicker.single.ltr .ranges,
    .daterangepicker.single.ltr .calendar ,
    .daterangepicker.ltr .calendar{ float: left;}
    .daterangepicker.single.rtl .ranges,
    .daterangepicker.single.rtl .calendar { float: right;}
    .daterangepicker.ltr { direction: ltr; text-align: left;}
    .daterangepicker.ltr .calendar.left { clear: left; margin-right: 0;}
    .daterangepicker.ltr .calendar.left .calendar-table {
        border-right: 1px solid #d7dbe4;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .daterangepicker.ltr .calendar.right .calendar-table {
        border-left: 1px solid #d7dbe4;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        margin-top: 4px;
    }
    .daterangepicker td.off, .daterangepicker td.off.in-range,
    .daterangepicker td.off.start-date, .daterangepicker td.off.end-date{ border-bottom-right-radius: 6px;}
    .daterangepicker.ltr .left .daterangepicker_input,
    .daterangepicker.rtl .calendar.left .calendar-table,
    .daterangepicker.rtl .left .daterangepicker_input{ padding-right: 12px;}
    .daterangepicker.rtl { direction: rtl; text-align: right;}
    .daterangepicker.rtl .calendar.left { clear: right; margin-left: 0;}
    .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar { text-align: right; float: right;}
}
